;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon Jul 22 13:53:15 2013
;; Desktop file format version 206
;; Emacs version 24.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("desk"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/home/alex/PROJECTS/FITTEST/Software/UtrechtUniv/tools/abci/v1.1/lib/src/ByteCode/Trf/Ast.ag" "emacs-desktop" "~/PROJECTS/FITTEST/Software/UtrechtUniv/tools/abci/v1.1/lib/src/" "/home/alex/PROJECTS/FITTEST/Software/UtrechtUniv/tools/abci/v1.1/lib/src/Boogie/Boogie.ag" "/home/alex/.emacs"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/alex/PROJECTS/FITTEST/Software/UtrechtUniv/tools/abci/v1.1/lib/src/ByteCode/Trf/Ast.ag"
  "Ast.ag"
  'ag-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/alex/PROJECTS/FITTEST/Software/UtrechtUniv/tools/abci/v1.1/lib/src/Boogie/Boogie.ag"
  "Boogie.ag"
  'ag-mode
  nil
  1746
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/alex/.emacs"
  ".emacs"
  'emacs-lisp-mode
  nil
  4613
  '(4573 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

